<header class="bg-white">
  <nav
    class="relative flex items-center justify-between md:justify-start gap-2 m-2"
  >
    <div class="flex gap-2">
      <a routerLink="/"> <img src="https://placehold.co/40x40" alt="" /></a>
    </div>
    <!--mobile menu button-->
    <button class="md:hidden flex flex-col gap-1.5 p-2" (click)="toggleMenu()">
      <!--burger made out of these three spans-->
      <span
        class="block w-6 h-0.5 bg-current transition-all duration-300"
        [class.rotate-45]="isMenuOpen()"
        [class.translate-y-2]="isMenuOpen()"
      ></span>
      <span
        class="block w-6 h-0.5 bg-current transition-all duration-300"
        [class.opacity-0]="isMenuOpen()"
      ></span>
      <span
        class="block w-6 h-0.5 bg-current transition-all duration-300"
        [class.-rotate-45]="isMenuOpen()"
        [class.-translate-y-2]="isMenuOpen()"
      ></span>
    </button>
    <!--desktop nav-->
    <app-navbar class="hidden md:block" />
    <app-account-dropdown
      class="hidden md:block ml-auto"
      [currentUser]="currentUser()"
    />
  </nav>

  <!--mobile nav-->
  @if (isMenuOpen()) {
    <div
      class="md:hidden absolute border-b w-full flex flex-col gap-2 z-10 bg-white"
    >
      <app-navbar />
      <app-account-dropdown [currentUser]="currentUser()" />
    </div>
  }
  <hr />
</header>
