<div class="flex h-full w-full">
  <app-tour-list
    [onClickFn]="setTourFn"
    [stateCallback]="stateCallback"
    class="w-full md:w-120"
    [class.!w-0]="!isListOpen()"
  />
  @if (selectedTour() != null && tour() != null) {
    <div class="flex flex-col w-full p-4 overflow-y-auto h-full">
      <div
        id="map-container"
        class="shrink-0 lg:max-w-[80vw] w-full h-40 md:h-60 lg:h-80 xl-2:h-120 mb-4 mx-auto bg-amber-200 overflow-hidden border-2 border-gray-300 rounded-lg shadow-md"
      >
        <img
          src="https://img.freepik.com/free-vector/black-white-town-navigation-map_23-2148309836.jpg"
          alt="Tour image"
          class="w-full object-cover select-none"
          draggable="false"
        />
      </div>
      <div class="flex flex-col md:flex-row">
        <div class="flex flex-col w-full md:w-6/10 bg-red-300/10 gap-4 p-2">
          <h1 class="font-semibold lg:text-xl xl-2:text-2xl text-gray-700">
            {{ tour()!.name }}
          </h1>
          <p class="text-gray-500 lg:text-lg xl-2:text-xl">
            {{ tour()!.description }}
          </p>
        </div>
        <div
          class="flex flex-col gap-2 lg:gap-4 w-full md:w-4/10 bg-cyan-700/10 p-2"
        >
          <div class="flex items-center justify-between flex-wrap-reverse">
            <app-transport-icon
              [transportType]="tour()!.transportType"
              [showText]="true"
              class="h-8"
            />
            <app-star-rating [rating]="tour()!.rating" />
          </div>
          <app-tag-list
            class="flex flex-wrap gap-1 items-center text-sm text-gray-700"
            [tags]="tour()!.tags"
          />
          <div
            id="duration-and-distance"
            class="flex items-center gap-1 text-sm md:text-base"
          >
            <app-duration
              [duration]="durationInHours()"
              [labelClass]="'text-black'"
            />
            |
            <app-distance
              [distance]="distanceInKm()"
              [labelClass]="'text-black'"
            />
          </div>
          <div
            class="flex flex-col gap-2 text-sm md:text-base w-full overflow-hidden"
          >
            <app-location-start
              class="w-full"
              [location]="tour()!.start"
              [labelClass]="'text-black'"
            />
            <app-location-end
              class="w-full"
              [location]="tour()!.end"
              [labelClass]="'text-black'"
            />
          </div>
        </div>
      </div>
      <div class="flex flex-col mt-4 gap-4">
        <h2 class="font-semibold text-center text-xl xl:text-2xl text-gray-700">
          Tour Logs
        </h2>
        <div class="flex flex-col gap-4">
          <div class="flex items-center justify-center">
            <a
              [routerLink]="['/tours', tour()!.id, 'logs', 'new']"
              class="border border-gray-400 hover:border-gray-600 hover:bg-gray-50 px-2 py-6 rounded-2xl w-full lg:w-3/5 text-xl font-semibold text-center"
              >Add a new Log</a
            >
          </div>
          @for (tourLog of tourLogs(); track tourLog.id) {
            <app-tour-log [tourLog]="tourLog"></app-tour-log>
          }
        </div>
      </div>
      <div class="flex justify-end mt-12">
        <a
          [routerLink]="['/tours', tour()!.id]"
          class="bg-amber-300 hover:bg-amber-400 font-bold py-2 px-6 rounded-xl absolute bottom-4 right-4"
        >
          Edit
        </a>
      </div>
    </div>
  } @else {
    <p>No tour is selected</p>
  }
</div>
