<div class="flex flex-col w-full md:w-120 h-full" [class.!w-0]="!isListOpen()">
  @if (!isListOpen()) {
    <button
      class="flex items-center absolute top-20 z-10 p-2 m-2 shadow bg-gray-100 border border-gray-300 rounded-full"
      (click)="toggleList()"
    >
      <svg lucideMapPinned size="40"></svg>
    </button>
  } @else {
    <div class="flex flex-col w-full overflow-y-auto h-full">
      <div class="px-4 py-2 flex gap-8 border">
        <button class="text-2xl font-bold" (click)="toggleList()">X</button>
        <h2 class="text-2xl text-center w-full">Tours</h2>
      </div>
      <div class="px-4 py-2 border">
        <app-search-bar
          [placeholder]="'Search Tours...'"
          (searchChange)="onSearchChange($event)"
        />
      </div>
      @for (tour of tours(); track tour.id) {
        <app-tour-short [tour]="tour" (click)="onClick(tour.id)" tappable />
      }
    </div>
  }
</div>
