<div
  class="border px-2 shadow-sm hover:shadow-md transition-shadow duration-300 flex flex-col gap-0.5 lg:gap-1 xl-2:gap-2 overflow-hidden"
>
  <div id="line 1" class="flex items-center gap-4">
    <p
      class="text-sm md:text-lg font-semibold md:font-normal overflow-hidden text-nowrap text-ellipsis"
    >
      {{ tour().name }}
    </p>
    <img
      src="https://www.iconpacks.net/icons/1/free-bicycle-icon-1054-thumb.png"
      alt="Tour Image"
      class="w-8 h-8 object-cover rounded ml-auto"
    />
  </div>
  <div id="line 2" class="flex items-center gap-2 md:gap-4">
    <app-tag-list
      class="overflow-x-auto flex gap-1 items-center text-sm text-gray-700"
      [tags]="tour().tags"
    />
    <div
      id="duration-and-distance"
      class="flex items-center gap-1 ml-auto text-sm md:text-base"
    >
      <app-duration [duration]="durationInHours()" />
      |
      <app-distance [distance]="distanceInKm()" />
    </div>
  </div>
  <div id="line 3" class="flex flex-row-reverse items-center gap-2 md:gap-4">
    <app-star-rating
      [rating]="tour().rating"
      [hideText]="true"
    ></app-star-rating>
    <div class="flex gap-1 text-sm md:text-base w-full overflow-hidden">
      <app-location-start
        class="w-1/2 text-centered"
        [valueClass]="'text-centered'"
        [location]="tour().start"
      />
      <app-location-end
        class="w-1/2"
        [valueClass]="'text-centered'"
        [location]="tour().end"
      />
    </div>
  </div>
</div>
