<div
  class="border rounded px-2 shadow-sm hover:shadow-md transition-shadow duration-300 flex flex-col gap-0.5 overflow-hidden"
>
  <div id="line 1" class="flex items-center gap-4">
    <p
      class="text-sm md:text-lg font-semibold md:font-normal overflow-hidden text-nowrap text-ellipsis"
    >
      {{ tour.name }}
    </p>
    <img
      src="https://www.iconpacks.net/icons/1/free-bicycle-icon-1054-thumb.png"
      alt="Tour Image"
      class="w-8 h-8 object-cover rounded ml-auto"
    />
  </div>
  <div id="line 2" class="flex items-center gap-2 md:gap-4">
    <div
      id="tag-list"
      class="flex gap-1 items-center overflow-x-scroll text-sm"
    >
      @for (tag of tour.tags; track tag) {
        <span
          class="bg-indigo-100 text-gray-700 rounded-full border border-indigo-600 px-1.5 md:px-2.5 py-0 md:py-0.5"
        >
          {{ tag }}
        </span>
      }
    </div>
    <div
      id="duration-and-distance"
      class="flex items-center gap-1 ml-auto text-sm md:text-base"
    >
      <app-duration [duration]="durationInHours" />
      |
      <app-distance [distance]="distanceInKm" />
    </div>
  </div>
  <div id="line 3" class="flex flex-row-reverse items-center gap-2 md:gap-4">
    <app-star-rating [rating]="tour.rating"></app-star-rating>
    <div class="flex gap-1 text-sm md:text-base w-full">
      <app-location-start [location]="tour.start" />
      <app-location-end [location]="tour.end" />
    </div>
  </div>
</div>
