@if (currentUser() == undefined || currentUser() == "") {
  <a href="#" class="flex w-full gap-2">
    <p>Login</p>
    <img src="https://placehold.co/20x20" alt="" />
  </a>
} @else {
  <div class="relative">
    <button class="flex w-full gap-2" (click)="toggle()">
      <p>{{ currentUser() }}</p>
      <img src="https://placehold.co/20x20" alt="" />
    </button>
    @if (isOpen()) {
      <div class="md:absolute md:right-0">
        <a href="#" class="block text-center md:text-right">Account Info</a>
        <a href="#" class="block text-center md:text-right">Settings</a>
        <a href="#" class="block text-center md:text-right">Logout</a>
      </div>
    }
  </div>
}
