@if (currentUser() == undefined || currentUser() == null) {
  <div class="flex w-full gap-2 justify-center md:justify-start">
    <a
      routerLink="/login"
      class="text-gray-700 hover:text-gray-950 transition-colors duration-200 px-2 py-1 text-lg"
    >
      Login
    </a>
    <svg lucideLogIn size="20" class="self-center"></svg>
  </div>
} @else {
  <div class="relative">
    <button
      class="flex w-full gap-2 justify-center md:justify-start"
      (click)="toggle()"
    >
      <p
        class="text-gray-700 hover:text-gray-950 transition-colors duration-200 px-2 py-1 text-lg"
      >
        {{ currentUser()?.username }}
      </p>
      <svg lucideUser size="20" class="self-center"></svg>
    </button>
    @if (isOpen()) {
      <div class="md:absolute md:right-0 bg-white border">
        <a
          routerLink="/"
          class="block text-center md:text-right text-gray-700 hover:text-gray-950 transition-colors duration-200 px-2 py-1 text-lg"
          >Account Info</a
        >
        <a
          routerLink="/"
          class="block text-center md:text-right text-gray-700 hover:text-gray-950 transition-colors duration-200 px-2 py-1 text-lg"
          >Settings</a
        >
        <a
          routerLink="/login"
          class="block text-center md:text-right text-gray-700 hover:text-gray-950 transition-colors duration-200 px-2 py-1 text-lg"
          (click)="logout()"
          >Logout</a
        >        
      </div>
    }
  </div>
}
